
/* Home Page */

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Gothic A1', sans-serif;
}
#maincontainer {
  font-size: 2em;
}

#maincontainer h2 {
  font-size: 2.3em;
}
#home {
  font-size: 3em;
}

#headercontanier h2 {
  font-size: 3em;
  text-align: center;

}

.text {
  font-size: 1em;
}


.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  perspective: 1000px;
  display: inline-block;
  margin-left: 35px;
}

/* may need to adjust*/
.flip-card:nth-child(1) {
  margin-top: 35px;
}

.flip-card-inner {
  position: relative;
  width: 150px;
  height: 150px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 150px;
  height: 150px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color: rgb(105, 190, 40);
  color: rgb(3, 34, 68);
  transform: rotateY(180deg);
}
.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto 
}
header {
  background-color: rgb(3, 34, 68);
  height: 55px;
}
header nav {
  width: 960px;
  margin: auto;
}
header span {
  display: inline-block;
  line-height: 50px;
  margin: 0 100px;
}
nav a {
  transition: 0.001s;
  color: rgb(105, 190, 40);;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 auto;
}
nav a:hover {
  background-color: rgb(105, 190, 40);
  color: rgb(3, 34, 68);
  padding: 20px 10px;
}
i {
  color: rgb(3, 34, 68);
  font-size: 1em;
  margin: 4px;
}
.social {
  margin: auto;
  width: fit-content;
  padding: 5px;

}
main {
  width: 960px;
  margin: auto;
}
.choose {
  text-align: center;
  padding: 20px;
  font-size: 3em;
  padding-bottom: 40px;
  color: rgb(3, 34, 68);
  -webkit-text-stroke: 1px rgb(105, 190, 40);
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 400;
}
main li:first-child {
  margin-left: 0px;
}
main li {
  margin-left: 50px;
  float: left;
  padding-bottom: 25px;
}

#selectioncontainer {
  margin-left: auto;
  padding-bottom: 25px;
}

#headercontainer {
  display: block;
}
main p {
  font-size: 1.25em;
  padding-bottom: 20px;
}

#formcontainer {
  
}

#eventcontainer {
  margin-left: 75px;
  margin-right: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  /* border: 1px solid black; */
  line-height: 40px;
}

#eventcontainer input {
  font-size: larger;
}

#eventcontainer button {
  font-size: larger;
}

#description {
  margin-left: 75px;
  margin-right: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#travelcontainer img {
  padding: 10px;
}

fieldset label {
  display: block;
}
footer {
  margin-top: 25px;
  text-align: center;
  background-color: rgb(210, 212, 214);
}

/* About us */

body {
  font-family: 'Gothic A1', sans-serif;
  margin: 0 auto;
  width: 960px;
  background-color:rgb(165, 172, 175);
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 2px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(3, 34, 68, 0.8);
  margin: 0 auto;
  width: 236px;
}

.card:hover {
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
}

h2 {
  font-size: 1.3em;
}
.team-h2 {
  font-family: "Gothic A1";
  font-weight: 500;
  color: rgb(105, 190, 40);
  text-shadow: 1px 1px  rgb(3, 34, 68);
}
h5 {
  font-size: .75em;
}
.name {
  height: 50px;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-image: url("/prep-images/new-seattle.jpg");
}
.about-section h1 {
  font-size: 2.5em;
  font-weight: 500;
  color: rgb(105, 190, 40);
  text-shadow: 3px 2px  rgb(3, 34, 68);
}
.about-section p {
  color:rgb(105, 190, 40);
  font-size: 1.2em;
  text-shadow: 2px 2px  rgb(3, 34, 68);
}
.team-h2 {
  font-size: 2em;
  margin: 30px;
  text-shadow: 2px 2px rgb(3, 34, 68);
  padding: 15px;
}
h2 {
  font-size: 1.3em;
}
.team-container {
  padding: 0 16px;
  height: 365px;
}

.img-wrap {
  position: relative;
  margin: auto;
}
.mouseover {
  font-size: .8em;
  color: rgb(3,34, 68);
  text-align: center;
}

.img-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(105, 190, 40, 0.9);
  background-size: 365px;
  color: rgb(3, 34, 68);
  visibility: hidden;
  /* transition: opacity .1s, visibility .1s; */
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.img-wrap:hover .img-text {
  visibility: visible;
  opacity: 1;
}

.bio {
  height: 180px;
}
.team-container::after, .row::after {
  content: "";
  clear: both;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 6px;
  color: rgb(105, 190, 40);
  background-color: rgb(3, 34, 68);
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background-color: rgb(105, 190, 40);
  color: rgb(3, 34, 68);
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Star-Wars Crawl */

.star-wars {
  width: 960px;
  height: 540px;
  background: rgb(165, 172, 175);
  overflow: hidden;
}
/* .title {
  color: rgb(3, 34, 68);
  size: 1em;
  font-weight: 600;
  -webkit-text-stroke: 2px rgb(105, 190, 140);
} */
.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 480px;
  color: rgb(3, 34, 68);
  -webkit-text-stroke: 2px rgb(105, 190, 40);
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}
.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}
.crawl > .title {
  font-size: 90%;
  text-align: center;
}
.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}
@keyframes crawl {
	0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
	100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}